body {
  margin: 0px;
  background-color: #eee;
  color: #069;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 10px 0px;
}

.app-main-header {
  background-color: #069;
  color: #fff;
}

.app-main-view .app-main-column {
  background: #fff;
}

.app-main-view  h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-main-log {
  background-color: rgba(0, 0, 0, 0.6);
}

.app-main-log pre {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ff0;
}
