<div class="view-login-standard">
  <h1 ng-bind="title"></h1>

  <form ng-submit="submit()">
    <div ng-repeat="field in fields" ng-if="!field.disabled" class="view-login-control">
      <label ng-bind="field.label"></label>
      <input ng-if="field.password" type="password" ng-model="field.value" placeholder="{{ field.label }}">
      <input ng-if="!field.password" ng-model="field.value" placeholder="{{ field.label }}">
    </div>

    <div class="view-login-control">
      <label></label>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
