<div class="view-login-ngl">
  <h1><code ng-bind="title"></code></h1>

  <div ngl-form="submit(fields)">
    <div ng-repeat="field in fields" ng-if="!field.disabled" class="view-login-control">
      <label ng-bind="field.label"></label>
      <input ng-if="!field.password" ngl-form-input ng-model="field.value" placeholder="{{ field.label }}">
      <input ng-if="field.password" ngl-form-input="password" ng-model="field.value" placeholder="{{ field.label }}">
    </div>

    <div class="view-login-control">
      <label></label>
      <button ngl-form-input="submit">Submit</button>
    </div>
  </div>
</div>
